.hero
{
    min-width: 100vw;
    min-height: 90vh;
    background-color: white;
    color: black;
}
.mobimg{
    display: none;
}
.container
{   min-width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
    padding-left: 5vw;
}
.span
{
    color: #028bd2;
}
.right
{
    display: flex;
    justify-content: flex-end;
    
}
.heroimg
{
    min-height:90vh;
    width: auto;
}
.left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.leftcontainer
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.title
{
    font-size: 3.25rem;
    font-family: var(--font-poppins);  
    font-weight:900;
}
.contents
{
    font-size: 2rem;
    font-weight: 700;
    
}
.buttons
{
    display: flex;
    gap: 20px;
}
.contact
{
    background-color: #42b2e5;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    transition: 0.5s;
    border: none;
}
.whatsapp
{
    background-color: #27d366;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    transition: 0.5s;
}

.contact:hover
{
    background-color: #2e9ed8;
}
.whatsapp:hover
{
    background-color: #17a74c;
}
@media (max-width:768px)
{
    .hero
    {
        min-height: 80vh;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: flex-end;
        /* padding-top:50px;
        padding-bottom: 50px; */
    }
    .mobimg{
        display: flex;
        width: 100vw;
        height: auto;
    }
    .container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }

    .left
    {
        min-width: 100%;
        justify-content: center;
        align-items: center;
    }
    .heroimg
    {
        width: 100%;
        height: auto;
        min-height: 0px;
        display: none;
        
    }
    .leftcontainer
    {
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .title
    {
        font-size: 2rem;
    }
    .contents
    {
        font-size: 0.8rem;
    }
    .buttons
    {
        flex-direction: row;
        gap: 10px;
        font-size: 0.9rem;
    }
    .contact
    {
        padding: 5px 10px;
    }
    .whatsapp
    {
        padding: 5px 10px;
    }
}
@media(min-width:1600px)
{
    .hero
    {
        max-height: 90vh;
    }
    .heroimg
    {
        max-height: 90vh;
    }
    .container
    {
        padding-left: 9vw;
    }
    .title
    {
        font-size: 4rem;
    }
    .contents
    {
        font-size: 2.5rem;
    }
    .contact
    {
        padding: 10px 30px;
    }
    .whatsapp
    {
        padding: 10px 30px;
    }
}