.featurescontainer
{
    display: flex;
    gap: 3vw;
    padding: 100px 20px;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(
        to bottom,
        black 0%,
        black 50%,
        white 50%,
        white 100%
      );
    }

    @media (max-width:1000px)
    {
        .featurescontainer
        {
            gap: 50px;
            
        }
    }
    @media (min-width:1750px)
    {
        .featurescontainer
        {
            gap: 5vw;
        }
    }