.productcard
{
    /* background-image: url("../../assets/ocean1.svg");
    background-repeat: no-repeat;
    background-size: cover; */
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 7px 7px 1px black;
    height: auto;

}
.productimg
{
    border-radius: 10px;
    object-fit: cover;
    max-height: 300px;
    margin-bottom: 10px;
}
.name
{
    color: black;
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
}
.capacity
{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
@media (max-width:768px)
{
    .productcard
    {
        width: 150px;
    }
    .name
    {
        font-size: 1.2rem;
    }
    .capacity
    {
        font-size: 1rem;
    }
}