.productcard
{
    background-image: url("../../assets/ocean1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
}
.name
{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: right;
}
.capacity
{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
}
@media (max-width:768px)
{
    .productcard
    {
        width: 200px;
        height: 250px;
    }
    .name
    {
        font-size: 1rem;
    }
    .capacity
    {
        font-size: 1rem;
    }
}