.title
{
    color: #028bd2;
    font-size: 2.5rem;
    
    padding: 30px;
    padding-top: 100px;
    font-weight: 700;
    text-align: center;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    padding: 100px 2vw;
    min-width: 100vw;
    padding-top: 50px;
}
@media (max-width: 1000px)
{
    .container
    {
        padding: 10px;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    .title{
        font-size: 2rem;
        padding-bottom: 30px;
        padding-top: 50px;
        
    }
}
@media (min-width:1750px)
{
    .container{
        gap: 5vw;
    }
}